<footer class="bg-warning text-white py-3">
    <div class="container">
        <div class="row">
        <div class="col-md-6">
            Aplicación realizada por Cesar Hernan Ruscica, para MDV Srl.
        </div>
        <div class="col-md-6">
            <a class="footer__paragraph__enlace" href="https://ruscica-code.ar" target="_blank">
                Más sobre mí en ruscica-code.ar  <i class="fa-solid fa-arrow-up-right-from-square"></i></a><br>
            <br>
                Cesar Hernan Ruscica © 2022
        </div>
        </div>
    </div>
    </footer>   
    <!--FOOTER TERMINA--> 
    