<%- include('partials/cabecera', {titulo: "MDV Sensores - Ingrese con cuenta"}) %>   

<div class="container my-5 py-3 " >
    <h1>¡Bienvenidos a MDV Sensores !</h1>   
    <a href="/loginForm">Iniciar sesion</a>
</div>
 
    
<%- include('partials/piedepagina') %>        
    
