<%- include('partials/cabecera', {titulo: "MDV Sensores - Ingrese con cuenta"}) %>   

<div class="container my-5 py-3 " >
<h1>Inicio de sesion </h1>   
<form action="/users/authenticate" method="post">
    <div class="mb-3">
      <label for="dni" class="form-label">D.N.I.</label>
      <input type="text" class="form-control" id="dni" name="dni" aria-describedby="emailHelp" 
        inputmode="numeric" pattern="[0-9]{7,8}" title="Debe contener 7 u 8 dígitos numéricos" maxlength="8" required>
      <div id="emailHelp" class="form-text">Ingrese su numero de DNI sin los puntos.</div>      
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name = "password" 
        maxlength="60" title="No debe sobrepasar los 60 digitos" required>
    </div>    
    <button type="submit" class="btn btn-primary">Ingresar</button>
  </form>
</div>
    
<%- include('partials/piedepagina') %>        



