
<%- include('partials/cabecera', {titulo: "MDV Sensores - Panel de Control", nombre: user.nombre_1, apellido: user.apellido_1}) %>
  

<div class="container my-5 py-3 " >
<% if (typeof user !== 'undefined' && user !== null && user.nombre_1 && user.apellido_1) { %>
    <h1>Perfil de <%= user.nombre_1 %> <%= user.apellido_1 %></h1>
  <% } else { %>
    <h1>Error: Usuario no encontrado</h1>
  <% } %>
</div>
 
    
<%- include('partials/piedepagina') %>        
    
</body>
</html>