
<%- include('partials/cabecera', {titulo: "MDV Sensores - Ver Canal", nombre: user.nombre_1, apellido: user.apellido_1}) %>
  

<div class="container my-5 py-3 " >
<% if (typeof user !== 'undefined' && user !== null && user.nombre_1 && user.apellido_1) { %>
    <h1>Graficos y opciones para el canal</h1>

    <!--Breadcrumb-->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>        
        <li class="breadcrumb-item"><a href="/users/dashboard">Panel de control</a></li> 
        <li class="breadcrumb-item"><a href="/locations/all">Ubicaciones</a></li>   
        <li class="breadcrumb-item"><a href="/dataloggers/all">Dataloggers</a></li> 
        <li class="breadcrumb-item active" aria-current="page">Ver Canal</li>
      </ol>
    </nav>

    <p class="fs-5 mt-5">En esta sección usted puede ver la información de este canal.</p>
    <div class="container row justify-content-start">
       <a href="/dataloggers/editform/1" class="btn btn-secondary col-5 col-lg-2">Editar Canal</a>     
  </div>

  <div class="d-flex flex-column flex-lg-row ">
    <div class="card m-3 col-12 col-lg-6">
        <div class="card-body">
            <!-- Nombre y Apellido -->
            <h5 class="card-title">
               Nombre del Canal con id: <%= idChannel %>
            </h5>

            <!-- Descripcion -->
            <p class="card-text">Descripcion este canal del datalogger con id: <%= id %></p>

            <!-- Foto -->
            <img src="" class="card-img-top" alt="Foto del Canal ">

            
            <!-- Teléfono -->
            <p class="card-text">Fecha de creacion</p>

        </div>
        
    </div>
    <!-- Fin de la Card personal-->

    <!-- Principio de la Card de Entradas-->
    <div class="card m-3 col-12 col-lg-6">    
      <div class="card-body">
        <h5 class="card-title">
          Opciones del canal
        </h5>
        <!-- userLocationRoles -->        
        <p class="card-text">
          Listado de opciones para este canal, como las alarmas.
        </p>        
           
        
      </div>
    </div>
  <!-- Fin  de la Card de dataloggers-->
    </div>    


  <% } else { %>
    <h1>Error: Usuario no encontrado</h1>
  <% } %>
</div>
 
    
<%- include('partials/piedepagina') %>        

    
</body>
</html>

